<nav class="navbar">
  <div class="nav-container">
    <div class="nav navbar-nav navbar-left">
      <div class="navbar-header">
        <a href="<%- config.root %>" class="navbar-brand"><%- theme.logo %></a>
      </div>
      <% if (site.categories && site.categories.length){ %>

      <div class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag">
            <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
            <line x1="7" y1="7" x2="7.01" y2="7"></line>
          </svg>
          </span></a>

        <ul class="dropdown-content">

          <% var categories = [];
              site.categories.forEach(function(categorie){
                  categories.push('<div><a href="' + config.root + categorie.path + '">' + categorie.name + '</a></div>');
          });%>
          <%- categories.join('') %>

        </ul>

      </div>
      <% } %>

    </div>


    <div class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link">
            <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
            <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path>
          </svg>
        </a>
        <base href="<%- config.root %>">
        <ul class="dropdown-content">
          <% for (var i in theme.more){ %>
          <div>
            <a href="<%- theme.more[i] %>">
              <%= i %>
            </a>
          </div>
          <% } %>
        </ul>
      </div>
      <div class="archives"><a href="<%- config.root %>archives">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-archive">
            <polyline points="21 8 21 21 3 21 3 8"></polyline>
            <rect x="1" y="3" width="22" height="5"></rect>
            <line x1="10" y1="12" x2="14" y2="12"></line>
          </svg>
        </a></div>
    </div>
  </div>
</nav>
