<div class="main-ctnr">
  <%- partial('_partial/navigator') %>
  <ul class="posts">
    <%
    const normalPosts = page.posts.filter(i => i.layout !== 'echo')
    const _post0 = normalPosts.data[0]
    const _post_1 = normalPosts.data[normalPosts.length - 1]
    const endTime = _post0.prev
      ? _post0.prev.date.unix()
      : (new Date() / 1000)
    const startTime = _post_1.next
      ? _post_1.next.date.unix()
      : _post_1.date.unix()
    const echos = site.posts.data
      .filter(i => i.layout === 'echo')[0].echo
      .map(i => ({
        content: i.content,
        layout: 'echo',
        date: moment(i.date, "YYYYMMDDHHmmss")
      }))
      .filter(i => i.date.unix() >= startTime && i.date.unix() < endTime)
    normalPosts.data.concat(echos)
      .sort((a, b) => b.date.unix() - a.date.unix())
      .forEach(function(item) {
        if (item.layout !== 'echo') {
  %>
    <li class="post-item">
      <%- partial('_partial/post/title', {index: true, item}) %>
      <div class="excerpt">
        <% if (item.excerpt){ %>
        <%- item.excerpt %>
        <% } else { %>
        <%- truncate(strip_html(item.content).trim(), {
        length: theme.excerpt_num,
        omission: '...'
      }) %>
        <% } %>
      </div>
      <div class="index-meta">
        <%- partial('_partial/post/meta', {
        item,
        width: 2
      }) %>
      </div>
    </li>
    <% } else { %>
    <div class="echo">
      <time class="echo-meta"><%= item.date.format('MM-DD HH:mm:ss') %></time>
      <%= item.content %>
    </div>
    <% }}); %>
  </ul>
  <%- partial('_partial/pagination') %>
</div>
