<div class="main-ctnr">
  <div class="behind">
    <a href="/" class="back">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
        <polyline points="9 22 9 12 15 12 15 22"></polyline>
      </svg>
    </a>
    <div class="description">
      &nbsp;<%- config.subtitle%>
    </div>
  </div>
  <article class="standard <%= page.layout %>">
    <div class="title">
      <%- partial('_partial/post/title', {item: page, index: false}) %>
    </div>
    <div class="page-meta center">
      <%- partial('_partial/post/meta', {
        item: page,
        width: 1
      }) %>
    </div>
    <hr>
    <% if (theme.show_toc_bool) {  %>
    <%- toc(page.content, {list_number: false}) %>
    <% } %>
    <%- page.content %>
    <hr>
  </article>

  <%- partial('_partial/post/comment') %>
</div>
